<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="xamarinappclient.android">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<application android:label="XamarinAppClient.Android">
		<service android:name="xamarinappclient.android.OverlayService" />
	</application>
</manifest>