<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="xamarinappclient.android">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="XamarinAppClient.Android" android:icon="@drawable/icon">
    <service android:name="OverlayService" />
  </application>
</manifest>